data/Test_Data/test_away_player_statistics_df.csv
data/Test_Data/test_home_player_statistics_df.csv

data/Train_Data/train_away_player_statistics_df.csv
data/Train_Data/train_home_player_statistics_df.csv

#MAC OS
.DS_Store